<div class="container">
  <div class="top">
    <h5 class="card-title">Import Jobs</h5>
    <br>
    <form class="d-flex ta" role="search">
      <div class="input-group mb-3">
        <select class="form-select" id="inputGroupSelect01">
          <option selected>Select</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </form>
  </div>
  <div class="middle">
    <h4 class="cen">Site - Affiliation</h4>
    <hr>
    <div class="move">
      <button type="button" class="btn btn-danger">Declined Service</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-danger">Inactive</button>
    </div>
    <br>
    <div class="move">
      <input type="text" style="width: 240px;" value="Last Exam Date:05/08/2022" readonly>
    </div>
    <br><br>
  
    <div class="radio-container">
      <label>
        <!-- <input type="radio" class="o" name="option" value="option1"> -->
        <span class="label-text">SiteName&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </label>
      <span class="new">
        <label>
          <input type="radio" class="o" name="site" value="option1">
          <span class="label-text">123 School&nbsp; &nbsp;</span>
        </label>
      </span>
      <span class="old">
        <label>
          <input type="radio" name="site" value="option">
          <span >&nbsp; &nbsp;1234 School</span>
        </label>
      </span>
    </div>
<br>
        <div class="radio-container">
      <label>
        <!-- <input type="radio" class="o" name="option" value="option1"> -->
        <span class="label-text">FirstName&nbsp; &nbsp;</span>
      </label>
      <span class="new">
        <label>
          <input type="radio" class="o" name="firstname" value="option2">
          <span class="label-text">Harry&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;</span>
        </label>
      </span>

      <span class="old">
        <label>
          <input type="radio" name="firstname" value="option3">
          <span >&nbsp; &nbsp;Harold</span>
        </label>
      </span>
     
      
    </div>
<br>
    <div class="radio-container">
      <label>
        <!-- <input type="radio" class="o" name="option" value="option1"> -->
        <span class="label-text">LastName&nbsp; &nbsp;</span>
      </label>

      <span class="new">
        <label>
          <input type="radio" class="o" name="lastname" value="option2">
          <span class="label-text">Potter&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;</span>
        </label>
      </span>

      <span class="old">
        <label>
          <input type="radio" name="lastname" value="option3">
          <span >&nbsp; &nbsp;Potter</span>
        </label>
      </span>
     
      
    </div>
<br>
    <div class="radio-container">
      <label>
        <!-- <input type="radio" class="o" name="option" value="option1"> -->
        <span class="label-text">DateOfBirth</span>
      </label>

      <span class="new">
        <label>
          <input type="radio" class="o" name="DOB" value="option2">
          <span class="label-text">05/06/2012&nbsp; &nbsp;</span>
        </label>
      </span>
     
      <span class="old">
        <label>
          <input type="radio" name="DOB" value="option3">
          <span >&nbsp; &nbsp;05/06/2012</span>
        </label>
      </span>
     
    </div>
<br>
    <div class="radio-container">
      <label>
        <!-- <input type="radio" class="o" name="option" value="option1"> -->
        <span class="label-text">Gender&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; </span>
      </label>

      <span class="new">
        <label>
          <input type="radio" class="o" name="gender" value="option2">
          <span class="label-text">Male&nbsp; &nbsp;</span>
        </label>
      </span>
      
      <span class="old">
        <label>
          <input type="radio" class="o" name="gender" value="option2">
          <span class="label-text">Female&nbsp; &nbsp;</span>
        </label>
      </span>
      
    </div>
        


<br><br>


<div class="moo">
<button type="button" class="btn btn-primary">Merge</button>&nbsp;&nbsp;
<button type="button" class="btn btn-primary">Insert</button>&nbsp;&nbsp;
<button type="button" class="btn btn-primary">Skip</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-primary">Next</button>

</div>

  </div>
  <div class="bottom">
    <h5 class="card-title">Patients</h5>
    <br>
    <form class="d-flex" role="search">
      <div class="input-group mb-3">
        <select class="form-select" id="inputGroupSelect01">
          <option selected>Select</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </form>
  </div>
</div>