.all-cards {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width : 90%;
    flex-direction: row;
    gap : 5%;
    margin : 3%;
    padding : 5%;
    left : 1%;
}

.nxt-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap : 12%;
}