.item-gap{
    display: flex;
    flex-direction: row;
    gap: 8%;
}


.oo{
    position: relative;

    padding-left: 60%;
}


.nav-link {
    text-decoration: none;
    padding: 10px;
    color: #333;
    border-bottom: 2px solid transparent; /* Initially transparent border */
  }
  
  .nav-link.active {
    border-color: #000000; /* Active link color with bottom border */
  }
  