<div class="container mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3" id="section1">
                <div class="card imp-job">
                    <div class="card-body">
                        <h5 class="card-title">Import Jobs</h5>
                        <!-- First Bootstrap Dropdown -->
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown1"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Choose an import job
                            </button>
                            <div class="dropdown-menu" aria-labelledby="Import Jobs">
                                <a class="dropdown-item" href="#">Option 1</a>
                                <a class="dropdown-item" href="#">Option 2</a>
                                <a class="dropdown-item" href="#">Option 3</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card pat mt-5">
                    <div class="card-body">
                        <h5 class="card-title">Patients</h5>
                        <!-- First Bootstrap Dropdown -->
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown1"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Choose a Patient
                            </button>
                            <div class="dropdown-menu" aria-labelledby="Import Jobs">
                                <a class="dropdown-item" href="#">Option 1</a>
                                <a class="dropdown-item" href="#">Option 2</a>
                                <a class="dropdown-item" href="#">Option 3</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-9" id="section2">
                <div class="card">
                    <h3  class="text-center mt-3">SITENAME - AFFLIATION</h3>
                    <div class="card-body">
                        
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-text">Total Received:</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-text">Merged:</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-text">Skipped:</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row my-2">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-text">Total Processed:</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-text">Inserted:</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-text">Errors:</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row my-5">
                            
                            <div class="col-md-3">
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheck1">
                                  <label class="form-check-label ml-2" for="flexCheck1">
                                    Merged
                                  </label>
                                </div>
                              </div>
                            
                              <div class="col-md-3">
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                                  <label class="form-check-label ml-2" for="flexCheck2">
                                    Inserted
                                  </label>
                                </div>
                              </div>
                            
                              <div class="col-md-3">
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheck3">
                                  <label class="form-check-label ml-2" for="flexCheck3">
                                    Skipped
                                  </label>
                                </div>
                              </div>
                            
                              <div class="col-md-3">
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheck4">
                                  <label class="form-check-label ml-2" for="flexCheck4">
                                    Errors
                                  </label>
                                </div>
                              </div>
                          </div>


                          <div class="row my-5">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-text">First Name:</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-text">Last Name:</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-text">Date of Birth:</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-text">Method:</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row my-5">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-text">Middle Name:</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-text">Preferred Name:</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-text">Gender:</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-text">Skipped Comments:</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row my-5">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-text">1st Parent First Name:</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-text">1st Parent Last Name:</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-text">Relationship:</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-text">Phone:</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                          

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>